
		<html>
		<head>
		<title>Text Highlighted</title>
		</head>
		<body>
		<p>DESIGNER SAMPLE CONTRACT
<mark style="background-color:#DCC5E7">POWERED</mark> BY DOCRACY.COM
1 of 4
DESIGNER SAMPLE CONTRACT
<mark style="background-color:#DCC5E7">Client</mark>: ____________________
Primary Contact: ____________________
Project: ____________________
Designer: ____________________
Date of Project: ____________________
Project Deadline: ____________________
Purchase Order #: ____________________
Invoice #: ____________________
Creative Brief:
____________________
Fee:
____________________
1. Payment
All invoices are payable within ____________________ business days of receipt. A
$____________________ service charge is payable on all <mark>overdue balances</mark> for reissuing each
invoice at <mark style="background-color:#DCC5E7">45</mark>, <mark style="background-color:#DCC5E7">60</mark>, <mark style="background-color:#DCC5E7">75</mark> and 90 days from the date of original invoice. The grant of any license or
right of <mark>copyright is conditioned</mark> on receipt of full payment.
2. Default in payment
<mark style="background-color:#DCC5E7">The Client</mark> shall assume responsibility for <mark>cost outlays by designer</mark> in all collections of unpaid fees
and of legal fees necessitated by default in payment. Invoices in default will include but are not
limited to fees for collection and legal costs.
3. Estimates
DESIGNER SAMPLE CONTRACT
POWERED BY DOCRACY.COM
2 of 4
The fees and expenses shown are minimum estimates only unless an <mark style="background-color:#DCC5E7">hourly</mark> fee has been agreed
upon. That fee will be ____________________ <mark>per hour and the designer shall keep the</mark> client
apprised of a tally of <mark style="background-color:#DCC5E7">hours</mark> within a reasonable period of time. Final fees and expenses shall be
shown when invoice is rendered. The fees and expenses shown are minimum estimates only unless
the quote and/or invoice is clearly marked <mark style="background-color:#DCC5E7">Firm Quote</mark>, otherwise the below stated hourly fee
will be payable on all time over that which was quoted with a minimum in
____________________ increments.
4. Changes
The Client must assume that all additions, alterations, changes in content, layout or process changes
requested by the customer, will alter the time and cost. The Client shall offer the Designer the first
opportunity to make any changes.
5. Expenses
The Client shall reimburse the Designer for all expenses arising from this assignment, including the
payment of any sales taxes due on this assignment, and shall advance the Designer for payment of
said expenses, including but not limited to <mark style="background-color:pink">Stock Photography</mark>, Artwork, and or material needed
for the project.
6. Cancellation
In the event of cancellation of this assignment, ownership of all copyrights and the original artwork
shall be retained by the Designer, and a cancellation fee for work completed, and expenses already
incurred, shall be paid by the Client. Cancellation fee is based on the hours submitted, if the project
is on an hourly basis or a percentage based on the time estimate for the entire job. A <mark style="background-color:#DCC5E7">100%</mark>
cancellation fee is due once the project has been finished, whether delivered to the client or not. If
the project is on an hourly basis and the project is canceled by the client, the client agrees to pay no
<mark style="background-color:#DCC5E7">less than 100%</mark> of the hours already billed for the project at the time of cancellation plus a flat fee of
$____________________ or 50% of the remaining hours that were expected to be completed on
the project, whichever is greater.
7. Ownership and return of artwork
<mark style="background-color:#DCC5E7">The Designer</mark> retains ownership of all original artwork, whether preliminary or final, and the Client
shall return such artwork within ____________________ days of use unless indicated otherwise
below. If transfer of ownership of all rights is desired, the rates may be increased. If the Client
wishes the ownership of the rights to a specific design or concept, these may be purchased at any
time for a recalculation of the hourly rate on the time billed or the entire project cost.
DESIGNER SAMPLE CONTRACT
POWERED BY DOCRACY.COM
3 of 4
8. <mark style="background-color:#DCC5E7">Credit Lines
</mark>The Designer and any other creators shall receive a credit line with any editorial usage. If similar
credit lines are to be given with other types of usage, it must be so indicated here.
9. <mark style="background-color:#DCC5E7">Releases
</mark>The Client shall indemnify the Designer against all claims and expenses, including attorney’s fees,
due to the uses for which no release was requested in writing or for uses that exceed authority
granted by a release.
10. Modifications
Modifications of the terms of this contract must be written and authorized by both parties,
involving the implementation of a new version of the contract as a whole following standard
procedures of documentation and approval.
11. Uniform commercial code
The above terms incorporate <mark style="background-color:pink">Article 2</mark> of <mark style="background-color:pink">the Uniform Commercial Code</mark>.
12. Code of fair practice
The Client and the Designer agree to comply with the provisions of <mark style="background-color:pink">the Code of Fair Practice
</mark>(which is in the Ethical Standards section of <mark style="background-color:pink">chapter 1</mark>, Professional Relationships).
13. Code of fair practice
The Designer warrants and represents that, to the best of his/her knowledge, the work assigned
hereunder is original and has not been previously published, or that consent to use has been
obtained on an unlimited basis; that all work or portions thereof obtained through the undersigned
form third parties is original or, if previously published, that consent to use has been obtained on an
unlimited basis; that the Designer has full authority to make this agreement; and that the work
prepared by the Designer does not contain any scandalous, libelous, or unlawful matter. This
warranty does not extend to any uses that the Client or others may make of the Designer’s product
that may infringe on the rights of others. Client expressly agrees that it will hold the Designer
harmless for all liability caused by the Client’s use of the Designer’s product to the extent such use
infringes on the rights of others.
14. Limitation of liability
DESIGNER SAMPLE CONTRACT
POWERED BY DOCRACY.COM
4 of 4
Client agrees that it shall not hold the Designer or his/her agents or employees liable for any
incidental or consequential damages that arise from the Designer’s failure to perform any aspect of
the project in a timely manner, regardless of whether such failure was caused intentional or
negligent acts or omissions of <mark style="background-color:#DCC5E7">the Designer or Client</mark>, any client representatives or employees, or a
third party.
15. Dispute Resolution
Any disputes in excess of maximum limit for small-claims court arising out of this <mark style="background-color:#DCC5E7">Agreement</mark> shall
be submitted to binding arbitration before a mutually agreed-upon arbitrator pursuant to the rules
of <mark style="background-color:#DCC5E7">the American Arbitration Association</mark>. The Arbitrator’s award shall be final, and judgment may
be entered in any court having jurisdiction thereof. The client shall pay all arbitration and court
cost, reasonable attorney’s fees, and legal interest on any award of judgment in favor of the
Designer. All actions, whether brought by client or by designer will be filed in the designer's
state/county of business/residence.
This contract is held accountable to the legal system of ____________________ and any
applicable statutes held therein.
16. Acceptance of terms
The action of the sending and receipt of this agreement via electronic method will hold both
parties in acceptance of these terms. The Designer as sender and the client as recipient will
acknowledge acceptance of these terms either through an e-mail noting acceptance or acceptance is
acknowledged at the beginning of any work on said project. Electronic signatures shall be
considered legal and binding.</p></body></html